*{	
	padding: 0;
	margin: 0;  
	border: 0; 
}

*, *:before, *: after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

input, button, textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0,border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------------*/
body{
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow:  hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigation-box{
	padding: 24px 0 21px 0;

}
.navigation-content {
	max-width: 1160px;
	margin: 0px auto;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation__logo { 
	margin-right: 276px;
	max-width: 164px; }

.navigation-menu_list{
	display: flex;
	flex-direction: row;
}

.navigation-menu__list li{
	margin-right:  40px;
	display: inline-block;
}
.navigation-menu__list li:last-child{ margin-right: 0; }

.navigation-menu__list a{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #2f3f54;
}

.top-box {
	background: url("../img/backg1.jpg") 0 0 no-repeat; 
	background-size: 100% 100%;

	padding-top: 150px;
	padding-bottom: 180px;
}
.top-content{
	max-width: 1160px;
	margin: 0px auto;

	font-family: 'Lato', sans-serif;
}

.top__inner{
	display: flex;
	flex-direction: row;
}

.top__info {
	max-width: 555px;
	margin-right: 35px;
	padding-top: 15px;

	color: #fff;
}
.top-info__subtitle {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 18px;
}
.top-info__title {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 26px;
}
.top-info__description {
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 42px;
}
.top-info__description > span{
	display: inline-block;
	margin-top: 14px;
	font-size: 14px;
	font-weight: 400;
}

.top-info__list {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	background: url(../img/icons/check.png) 0 2px no-repeat;
	padding-bottom: 2px;
}

.top-info__list li{
	margin-bottom: 14px;
	padding-left: 24px;
}
.top-info__list li:last-child{
	margin-bottom: 53px;
}
.top-info__button {
	display: inline-block;
	padding: 18px 47px;
	text-transform: uppercase;
	color: #fff;
	border: 3px solid #ffffff;
	border-radius: 23.5px;
	margin-bottom: 18px;
}
.top-info__note {
	font-size: 14px;
	font-weight: 400;
}
.top__images {
}
.top-images__box {
	position: relative;
}
.top-images__superman{
	display: inline-block;
	margin-top: 50px;
}
.top-images__circle {
	width: 230px;
	height: 230px;
	background-color: #fff;
	border-radius: 50%;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: "Lato", serif;
	color: #212121;
	font-weight: 400;

	position:  absolute;
	top: 0px;
	right: -90px;


}
.top-images__title {
	margin-bottom: 16px;
	text-align: left;
	width: 120px;
}
.top-images__cost {
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 3px;

}
.top-images__period {
	text-align: right;
	width: 120px;
}

.packs-content {
	max-width: 1160px;
	margin: 0px auto;
}
.packs__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.packs-description__title {
	margin-top: 156px;

	font-size: 40px;
	font-weight: 700;
	color: #2f3f54;

	margin-bottom: 47px;
}
.packs-description__title > span {
	color: #2575e7;
}
.packs-description__subtitle {
	width: 578px;
	font-family: Lato;
	line-height: 24px;
	color: #4a6385;

	margin-bottom: 124px;
}
.packs-description__subtitle > span {
	color: #e74c3c;
}
.packs-description__subtitle span:nth-child(3){
	color: #42d6c1;
}
.packs__items {}
.packs-items__inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.packs-inner__item {
	background: url("../img/rect.png") 50% -14px no-repeat;
	margin-right: 30px;
	margin-bottom: 180px;
	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
	border-radius: 2px 2px 0px 0px;
	min-width: 356px;
}
.packs-item-box{
	margin: 28px 30px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.packs-item__price {
	font-size: 22.7px;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: #ffffff;
}

.packs-item__price span:nth-child(1) {
	font-size: 32.9px;
}
.packs-item__price span:nth-child(2) {
	font-size: 16px;
}
.packs-item__image1{ margin-top: 63px;}
.packs-item__image2{ margin-top: 78px;}
.packs-item__image3{ margin-top: 86px;} 

.packs-items__title {
	margin-top:  46px;
	align-self: flex-start;
	font-size: 31.3px;
	font-weight: 700;
	color: #267ae9;

	margin-bottom: 33px;
}
.packs-items__subtitle {
	font-family: Lato;
	line-height: 24px;
	font-weight: 400;
	color: #4a6385;

	margin-bottom: 40px;
}
.packs-items__list {
	align-self: flex-start;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #4a6385;

	margin-bottom: 66px;
}

.packs-items__list li {
	margin-bottom: 20px;
	padding-left: 35px;
	background: url("../img/icons/check_list.png") 0 0 no-repeat;
}
.packs-items__list li:last-child {
	margin-bottom: 0;
}

.packs-items__button {
	padding-top: 22px;
	padding-bottom: 25px;

	font-size: 17.2px;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: #ffffff;

	display: block;
	text-align: center;
	background-color: #267ae9;
	border-radius: 0px 0px 2px 2px;
}

.reviews-box {
	background-color: #fafafa;
}
.reviews-content {
	margin: 0 auto;
	max-width: 1160px;
}
.reviews__title {
	margin-top: 123px;
	margin-bottom: 167px;

	display: block;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: #2f3f54;
}
.reviews__title > span {
	color: #267ae9;
}
.reviews-sliders-inner {}
.reviews-sliders-inner .slick-list {
	margin:  0 -50px;
}
.reviews-sliders-inner .slick-track {
	margin:  0 50px;
}
.reviews-sliders-inner .slick-dots{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 105px;
}
.reviews-sliders-inner .slick-dots li{
	margin: 0 8px;
}
.reviews-sliders-inner .slick-dots li.slick-active button{
	background-color: #fff;
	border: 2px solid #2575e7;
}
.reviews-sliders-inner .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	border:  none;
	background-color: #2575e7;

}
.reviews-sliders__item {
	padding-bottom:  55px;
}

.reviews-sliders__item {}
.reviews-sliders-item-box{
	width: 526px;
	display: flex;
	flex-direction: row;

	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}
.reviews-item-image-box{
	background-color: #267ae9;
	width: 195px;
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reviews-item-image-box img {
	border-radius: 50%;
}
.reviews-item__body {
	align-self: center;
	padding-left: 40px;

	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.reviews-item__subtitle {
	line-height: 26px;
	color: #4a6385;
	width: 245px;
}
.reviews-item__author {
	margin-top: 38px;
	color: #2f3f54;
}
.reviews-item__author > span {
	font-weight: 700;
	color: #267ae9;
}

.partners-content {
	margin: 0 auto;
	max-width: 1160px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.partners__image {
	margin-top: 98px;
	margin-bottom: 80px;
}

.links-info-box{ 
	background: url("../img/backg2.jpg") 0 0 no-repeat; 
	background-size: 100% 100%;
}

.links-info-content{
	max-width: 1160px;
	margin: 0px auto;
	padding-top: 85px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;

	color: #718db2;
	text-transform: capitalize;
	margin-bottom: 128px;

}
.links-info__label {
	border-bottom: 2px solid #38465a;
	min-width: 262px;
}

.links-info-label__title{
	display: inline-block;
	padding: 11px 0 0 9px;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #d0e4ff;
}

.links-info-label__subtitle{
	margin-top: 32px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 22px;
	text-transform: none;
	padding-bottom: 34px;
	max-width: 245px;
}

.links-info__title{
	font-size: 16px;
	color: #d0e4ff;
	margin-bottom: 34px;
}

.links-info__list{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

.links-info__list li{ margin-bottom: 18px; }

.links-info__list a{
	display: inline-block;
	color: #718db2;
}

.links-info__base {
	margin-left:  89px;

	display: flex;
	flex-direction: column;
	flex-basis: 120px;
	flex-shrink: 0;
	
}
.links-info__company {
	margin-left: 135px;
	display: flex;
	flex-direction: column;
	flex-basis:  160px;
	flex-shrink: 0;

}
.links-info__contact {
	margin-left: 135px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.links-info-contact__form-box{ width:  270px; }
.links-info-contact__fields{ 
	margin-bottom: 10px; 
	display: flex;
	flex-direction: column;
	flex-basis:  40px;
	flex-shrink: 0;
	flex-grow: 0;
}
.links-info-contact__item{
	display: block;
	width: 248px;
	background: none;
	padding: 16px 11px;
	border: 1px solid #404e61;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	color: #718db2;
	max-height: 40px;
}
.links-info-contact__button {
	display: inline-block;
	padding: 13px;
	background-color: #2575e7;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
}

input::-moz-placeholder { color: #718db2; }
input::-webkit-input-placeholder { color: #718db2; }
textarea::-moz-placeholder { color: #718db2; }
textarea::-webkit-input-placeholder { color: #718db2; }
.links-info-contact__fields > textarea { 
	resize: none;
	flex-basis: 87px;
	flex-shrink: 0;
}
